@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@model RiddleCategoryDetail;
@{
    ViewData["title"] = "Dashboard";
    ViewData["MenuKey"] = "riddle";

    string categoryId = Model.Category.Id;
    int firstSerialNum = Model.PreviewRiddles.First().SerialNum;
    int lastSerialNum = Model.PreviewRiddles.Last().SerialNum;
}

<div class="p-4 w-full">
    <div class="flex justify-center items-center mb-4 w-fit">
        <a class="px-2 hover:text-gray-500" 
            href="/dashboard/riddle">
                @Localizer["< 返回"]
        </a>
        <span class=" self-stretch w-[1px] bg-gray-500"></span>
        <label class="px-2">
                @Model.Category.Name
        </a>
    </div>
    <ul class=" bg-white rounded-lg shadow-lg">
        @foreach (var riddle in Model.PreviewRiddles)
        {
            var content = $"{riddle.SerialNum}. {riddle.Mystery} \n({riddle.Tips}) \n-- {riddle.Answer}";
            <li title="@content" class="text-sm w-full max-w-full even:bg-current/10 p-2">
                @content
            </li>
        }
    </ul>
    <div class="flex justify-center items-center mt-4 w-fit rounded-lg text-sm shadow-lg bg-white  ml-auto">
        <a class="px-2 py-1 inline-block min-w-24 text-center  hover:bg-gray-100" 
            asp-action="RiddleCategory" 
            asp-controller="Home"
            asp-route-CategoryId="@categoryId" 
            asp-route-FirstSerialNum="@(firstSerialNum)">
                @Localizer["上一页"]
        </a>
        <span class=" self-stretch w-[1px] bg-gray-200"></span>
        <a class="px-2 py-1 inline-block min-w-24 text-center hover:bg-gray-100" 
            asp-action="RiddleCategory" 
            asp-controller="Home"
            asp-route-CategoryId="@categoryId" 
            asp-route-LastSerialNum="@lastSerialNum">
                @Localizer["下一页"]
        </a>
    </div>
</div>